  /*Criar um estilo de CSS para comandos nativos do HTML5*/
  p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFF;
}
body{
    background-color: #0d1117;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #271052; */
}
label,h5, tbody{
    color:#FFF;
}
label{
    font-size: 16px;
    font-weight: bolder;
}

h5 {
    font-size: 26px;
}

tbody tr:hover td,th{
    color:#FF7200;
}

tbody th {
    font-size: 18px;
}

h1{
    font-size: 26px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFF;
    vertical-align: middle;
    padding: 10px;
}
/* Criando estilos de CSS para classe */
.formata_texto{
    font-size: 14px;
    color:#FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:#FFF;
}

#footer{    
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
}

/* Criando formatação do CSS para os campos do formulário*/
.campo_nome{
    position: relative;
    left:15px;
    color:red;
    width: 250px;
    background-color: aquamarine;
}

.campo_email{
    position: relative;
    left:15px;
    color:red;
    width: 280px;
    background-color: aquamarine;
}



/* Criando uma classe para nome de componentes*/
#formulario_contato{
    background-color: rgb(218, 208, 196);
    color:rgb(92, 31, 150);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

#logout{
       
    padding: 10px;
}

#botao{
    background-color: #17a2b8;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

#botao:hover{
    background-color: #077288;

}

.dash-item{
    background-color: #0d1117;
    width: 25%;
    color:white;
    font-weight: bolder;
    font-size: 16px;
    padding: 0px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.form-control{
    font-size: 18px;
    font-weight: bolder;
    background-color: #1d2127;
    color: white;
}

.form-control options{
    font-size: 18px;
    font-weight: bolder;
    background-color: #1d2127;
    color: white;
}

#msgError{
    font-size: 18px;
    color: white;
    font-weight: bolder;
}
